@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.base');
    color: theme('colors.plain');
    margin: 0;
    padding: 0;
  }

  input {
    @apply text-plain bg-base rounded-lg border border-gray-300 text-sm;
  }
  input:focus {
    @apply ring-accent border-accent;
  }
}