@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.base');
    color: theme('colors.plain');
    margin: 0;
    padding: 0;
  }

  input {
    @apply text-plain bg-base rounded-lg border border-gray-300 text-sm;
  }
  input:focus {
    @apply ring-accent border-accent;
  }
}

@layer components {
  .option-button {
    @apply px-5 py-2 text-center font-medium rounded-md text-sm inline-flex items-center border w-full lg:w-fit;
  }
}